.reset-btn {
    border: none;
    border-radius: .5rem;
    background-color: purple;
    color: white;
    font-size: 2rem;
    padding: .5rem 1rem;
    margin: 2rem auto;
    display: block;
}

.reset-btn:hover {
    transform: scale(1.05);
}